body, html, .border , .thickness , .position2{ height: 100%; margin: 0; }

.container-main{
    height: 80px;
    align-items:flex-end;
}

.alignment{
    justify-content: center;
}

.alignment-vert{
    align-items: center;
}

.aligment-column{
    flex-direction: column;
}

.thickness{
    width: 100%;
}

.line{
    width: 90%;
}

.color-white{
    color: white; 
    margin-right: 10px;  
}

ul{
    list-style:none;
}

.col-third{
    width: 50%;
    justify-content: flex-end;
}

.col-second{
    width: 60%;
    justify-content: flex-start;
}

.col-first{
    width: 10%;
}

a:hover{
    text-decoration:solid;
    color: #C0C0C0;
}

a{
    text-decoration:none;
}

.position{
    display: flex;
}

#banner{
    height: 300px;
}

.background{
    background: black;
}

.main{
    height:350px;
    margin: 0;
}

.grey-background{
    background: grey;
    width:90%;
    height: 200px;
    border-width: medium;
    border-style: solid;
    border-color: black;
}

.position2{
    justify-content: space-between;
    padding: 0;
}

.titleh2 , .paragrafo{
    width: 90%;
    margin: 0;
    height: 50px;
}

.border{
    border-radius: 5px;
    background-color: white;
    width: 280px;
}

.centro{
    color: black;
}

.paragrafo{
    margin-top: 10px;
}

.movie-list{
    width: 90%;
    height: 300px;
}

.space{
    margin-right: 10px;
}

.color-link:hover{
    background: #C0C0C0;
}


