body, html, .card , .thickness , .position2{ height: 100%; margin: 0; }

.container-main{
    height: 80px;
    align-items:flex-end;
}

.alignment{
    justify-content: center;
}

.alignment-vert{
    align-items: center;
}

.aligment-column{
    flex-direction: column;
}

.thickness, div img{
    width: 100%;
}

.line{
    width: 90%;
}

.color-white{
    color: white; 
    margin-right: 10px;  
}

ul{
    list-style:none;
}

.col-third{
    width: 50%;
    justify-content: flex-end;
}

.col-second,.position-start{
    justify-content: flex-start;
}

.col-second{
    width: 60%;
}

.col-first{
    width: 10%;
}

a:hover{
    text-decoration:solid;
    color: #C0C0C0;
}

a{
    text-decoration:none;
}

.position{
    display: flex;
}

#banner{
    height: 300px;
}

.background{
    background: black;
}

.main{
    height:600px;
    margin: 0;
}

.grey-background{
    width:95%;
    height: 150px;
    border-width: medium;
    border-style: solid;
    border-color: #FF6EC7;
    margin-top: 5px;

}

.grey-background, .card{
    border-radius: 5px;
}

.position2{
    justify-content: space-between;
    padding: 0;
}

.titleh2 , .paragrafo{
    width: 90%;
    margin: 0;
    height: 50px;
}

.card{
    background-color: #1C1C1C;
    justify-content: start;
}

.center{
    color: #DCDCDC;
}

.movie-list{
    height: 250px;
    padding: 0 50px;
  
}

.space{
    margin-right: 10px;
}

.color-link:hover{
    background: #DB7093;
    color: black;
}

li{
    margin: 0 10px;
    ;
}

.paragraph, .color-white{
    font-family: FreeMono, monospace;
}

.paragraph{
    font-size: 20px;
}

.list{
   display: grid;
   grid-template-columns: repeat(5 ,2fr);
   padding: 0;
   margin-left: 15px;
   grid-gap: 25px;
  

}

div img{
    height: 100%;
}

.teste2{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    
}



